html
  head
    body
      p From: #{enquire.beginning}
      p Until: #{enquire.end}
      p Email: #{enquire.email}
      p Name: #{enquire.name}
      p Message: #{enquire.message}
      p Regards The Gordon Road Mail Robot :)
